{% extends 'base.html' %}

{% block head %}
<title>Processing</title>
{% endblock %}

{% block content %}
<!--- This portion will be displayed if any flashed messages are stored-->
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<!--- This portion will be displayed if any flashed messages are stored-->

<!--- Display the Bokeh app -->
<h1 style="text-align: center;color: black;background-color: blueviolet;"><i>Live graph</i></h1>
<div style="display: flex; justify-content: center;">
  {{ script|safe }}
</div>
<!--- Display the Bokeh app -->

<!-- Display the video which is being processed-->
<h1 style="text-align: center;color: black;background-color: rgb(37, 173, 25);"><i>Video Feed</i></h1>

<div style="margin-left: auto; margin-right: auto;">
  <video autoplay="true" controls="false" style="margin-left: auto;margin-right: auto;">
    <source style="align-items: center;text-align: center;" src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
  </video>
</div>

<form action="/gen_data" method="POST">
	<input style="align-items: center;" type="submit" value="Generate a Report of Processed Video">
</form>

{% endblock %}